# Premios Nobel
### EDA básico con PySpark que consume la API de los Premios Nobel.

Instalamos `pyspark` en nuestra Notebook, usamos la flag `-q` o `--quiet` para evitar ver los mensajes relacionados con la descarga e instalación de la herramienta.

In [ ]:
!pip install -q pyspark

Creamos una SparkSession con el nombre del proyecto.

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PremiosNobel") \
    .getOrCreate()

Usamos `requests` para leer la API de los Premios Nobel v1 y añadimos un manejo de errores básico, no es necesario instalarlo con `pip`.

In [ ]:
import requests

url = "https://api.nobelprize.org/v1/laureate.json"
response = requests.get(url)

if response.status_code == 200:
    data = response.json()
else:
    raise Exception(f"Error al obtener datos: {response.status_code}")

Creamos y visualizamos un DataFrame de Spark.

In [ ]:
laureates_df = spark.createDataFrame(data["laureates"])
laureates_df.show()

+----------+--------------------+--------------------+---------------+----------+------------+--------------------+---------------+----------------+------+---+--------------------+----------------+
|      born|            bornCity|         bornCountry|bornCountryCode|      died|    diedCity|         diedCountry|diedCountryCode|       firstname|gender| id|              prizes|         surname|
+----------+--------------------+--------------------+---------------+----------+------------+--------------------+---------------+----------------+------+---+--------------------+----------------+
|1845-03-27|Lennep (now Remsc...|Prussia (now Germ...|             DE|1923-02-10|      Munich|             Germany|             DE|  Wilhelm Conrad|  male|  1|[{affiliations ->...|         Röntgen|
|1853-07-18|              Arnhem|     the Netherlands|             NL|1928-02-04|        NULL|     the Netherlands|             NL|      Hendrik A.|  male|  2|[{affiliations ->...|         Lorentz|
|1865-05-25|          Zonnemaire|     the Netherlands|             NL|1943-10-09|   Amsterdam|     the Netherlands|             NL|          Pieter|  male|  3|[{affiliations ->...|          Zeeman|
|1852-12-15|               Paris|              France|             FR|1908-08-25|        NULL|              France|             FR|           Henri|  male|  4|[{affiliations ->...|       Becquerel|
|1859-05-15|               Paris|              France|             FR|1906-04-19|       Paris|              France|             FR|          Pierre|  male|  5|[{affiliations ->...|           Curie|
|1867-11-07|              Warsaw|Russian Empire (n...|             PL|1934-07-04|  Sallanches|              France|             FR|           Marie|female|  6|[{affiliations ->...|           Curie|
|1842-11-12|Langford Grove, M...|      United Kingdom|             GB|1919-06-30|        NULL|      United Kingdom|             GB|            Lord|  male|  8|[{affiliations ->...|        Rayleigh|
|1862-06-07|Pressburg (now Br...|Hungary (now Slov...|             SK|1947-05-20|Messelhausen|             Germany|             DE|         Philipp|  male|  9|[{affiliations ->...|          Lenard|
|1856-12-18|       Cheetham Hill|      United Kingdom|             GB|1940-08-30|   Cambridge|      United Kingdom|             GB|            J.J.|  male| 10|[{affiliations ->...|         Thomson|
|1852-12-19|Strelno (now Strz...|Prussia (now Poland)|             PL|1931-05-09|Pasadena, CA|                 USA|             US|       Albert A.|  male| 11|[{affiliations ->...|       Michelson|
|1845-08-16|           Hollerich|          Luxembourg|             LU|1921-07-13|        NULL|                NULL|           NULL|         Gabriel|  male| 12|[{affiliations ->...|        Lippmann|
|1874-04-25|             Bologna|               Italy|             IT|1937-07-20|        Rome|               Italy|             IT|       Guglielmo|  male| 13|[{affiliations ->...|         Marconi|
|1850-06-06|               Fulda|Hesse-Kassel (now...|             DE|1918-04-20|Brooklyn, NY|                 USA|             US|       Ferdinand|  male| 14|[{affiliations ->...|           Braun|
|1837-11-23|              Leiden|     the Netherlands|             NL|1923-03-08|   Amsterdam|     the Netherlands|             NL|Johannes Diderik|  male| 15|[{affiliations ->...|   van der Waals|
|1864-01-13|Gaffken (now Paru...|Prussia (now Russia)|             RU|1928-08-30|      Munich|             Germany|             DE|         Wilhelm|  male| 16|[{affiliations ->...|            Wien|
|1869-11-30|           Stenstorp|              Sweden|             SE|1937-12-09|   Stockholm|              Sweden|             SE|          Gustaf|  male| 17|[{affiliations ->...|           Dalén|
|1853-09-21|           Groningen|     the Netherlands|             NL|1926-02-21|      Leiden|     the Netherlands|             NL|           Heike|  male| 18|[{affiliations ->...|Kamerlingh Onnes|
|1879-10-09|         Pfaffendorf|             Germany|             DE|1960-04-23|      Berlin|West Germany (now...|             DE|             Max|  male| 19|[{affiliations ->...|        von Laue|
|1862-07-02|              Wigton|      United Kingdom|             GB|1942-03-12|      London|      United Kingdom|             GB|         William|  male| 20|[{affiliations ->...|           Bragg|
|1890-03-31|            Adelaide|           Australia|             AU|1971-07-01|     Ipswich|      United Kingdom|             GB|        Lawrence|  male| 21|[{affiliations ->...|           Bragg|
+----------+--------------------+--------------------+---------------+----------+------------+--------------------+---------------+----------------+------+---+--------------------+----------------+
only showing top 20 rows

Filtramos sólo las laureadas femeninas.

In [ ]:
females_df = laureates_df.filter(laureates_df.gender == "female")
females_df.show()

+----------+--------------------+--------------------+---------------+----------+-----------------+----------------+---------------+----------------+------+---+--------------------+----------------+
|      born|            bornCity|         bornCountry|bornCountryCode|      died|         diedCity|     diedCountry|diedCountryCode|       firstname|gender| id|              prizes|         surname|
+----------+--------------------+--------------------+---------------+----------+-----------------+----------------+---------------+----------------+------+---+--------------------+----------------+
|1867-11-07|              Warsaw|Russian Empire (n...|             PL|1934-07-04|       Sallanches|          France|             FR|           Marie|female|  6|[{affiliations ->...|           Curie|
|1906-06-28|Kattowitz (now Ka...|Germany (now Poland)|             PL|1972-02-20|    San Diego, CA|             USA|             US|           Maria|female| 79|[{affiliations ->...|  Goeppert Mayer|
|1897-09-12|               Paris|              France|             FR|1956-03-17|            Paris|          France|             FR|           Irène|female|194|[{affiliations ->...|    Joliot-Curie|
|1910-05-12|               Cairo|               Egypt|             EG|1994-07-29|Shipston-on-Stour|  United Kingdom|             GB|Dorothy Crowfoot|female|230|[{affiliations ->...|         Hodgkin|
|1896-08-15|              Prague|Austria-Hungary (...|             CZ|1957-10-26|    St. Louis, MO|             USA|             US|           Gerty|female|344|[{affiliations ->...|            Cori|
|1921-07-19|        New York, NY|                 USA|             US|2011-05-30|     New York, NY|             USA|             US|         Rosalyn|female|413|[{affiliations ->...|           Yalow|
|1902-06-16|        Hartford, CT|                 USA|             US|1992-09-02|   Huntington, NY|             USA|             US|         Barbara|female|428|[{affiliations ->...|      McClintock|
|1909-04-22|               Turin|               Italy|             IT|2012-12-30|             Rome|           Italy|             IT|            Rita|female|435|[{affiliations ->...| Levi-Montalcini|
|1918-01-23|        New York, NY|                 USA|             US|1999-02-21|  Chapel Hill, NC|             USA|             US|     Gertrude B.|female|438|[{affiliations ->...|           Elion|
|1942-10-20|           Magdeburg|             Germany|             DE|0000-00-00|             NULL|            NULL|           NULL|      Christiane|female|453|[{affiliations ->...|Nüsslein-Volhard|
|1843-06-09|              Prague|Austrian Empire (...|             CZ|1914-06-21|           Vienna|         Austria|             AT|          Bertha|female|468|[{affiliations ->...|     von Suttner|
|1860-09-06|      Cedarville, IL|                 USA|             US|1935-05-21|      Chicago, IL|             USA|             US|            Jane|female|496|[{affiliations ->...|          Addams|
|1867-01-08|Jamaica Plain, MA...|                 USA|             US|1961-01-09|    Cambridge, MA|             USA|             US|    Emily Greene|female|506|[{affiliations ->...|           Balch|
|1943-05-22|             Belfast|    Northern Ireland|             GB|2020-03-17|          Belfast|Northern Ireland|             GB|           Betty|female|535|[{affiliations ->...|        Williams|
|1944-01-27|             Belfast|    Northern Ireland|             GB|0000-00-00|             NULL|            NULL|           NULL|         Mairead|female|536|[{affiliations ->...|        Corrigan|
|1910-08-26|  Uskup (now Skopje)|Ottoman Empire (n...|             MK|1997-09-05|         Calcutta|           India|             IN|   Anjezë Gonxhe|female|540|[{affiliations ->...|        Bojaxhiu|
|1902-01-31|             Uppsala|              Sweden|             SE|1986-02-01|        Stockholm|          Sweden|             SE|            Alva|female|543|[{affiliations ->...|          Myrdal|
|1945-06-19|Rangoon (now Yangon)| Burma (now Myanmar)|             MM|0000-00-00|             NULL|            NULL|           NULL|Aung San Suu Kyi|female|553|[{affiliations ->...|            NULL|
|1959-01-09|        Aldea Chimel|           Guatemala|             GT|0000-00-00|             NULL|            NULL|           NULL|       Rigoberta|female|554|[{affiliations ->...|      Menchú Tum|
|1950-10-09|         Rutland, VT|                 USA|             US|0000-00-00|             NULL|            NULL|           NULL|            Jody|female|565|[{affiliations ->...|        Williams|
+----------+--------------------+--------------------+---------------+----------+-----------------+----------------+---------------+----------------+------+---+--------------------+----------------+
only showing top 20 rows

Imprimimos el esquema de datos, cantidad de filas y columnas.

In [ ]:
females_df.printSchema()
print(f"Filas: {females_df.count()}, Columnas: {len(females_df.columns)}")

root
 |-- born: string (nullable = true)
 |-- bornCity: string (nullable = true)
 |-- bornCountry: string (nullable = true)
 |-- bornCountryCode: string (nullable = true)
 |-- died: string (nullable = true)
 |-- diedCity: string (nullable = true)
 |-- diedCountry: string (nullable = true)
 |-- diedCountryCode: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- id: string (nullable = true)
 |-- prizes: array (nullable = true)
 |    |-- element: map (containsNull = true)
 |    |    |-- key: string
 |    |    |-- value: string (valueContainsNull = true)
 |-- surname: string (nullable = true)

Filas: 65, Columnas: 13

Resumen estadístico de los datos.

In [ ]:
females_df.describe().show()

+-------+----------+---------------+-----------+---------------+----------+--------+--------------+---------------+---------+------+-----------------+-----------+
|summary|      born|       bornCity|bornCountry|bornCountryCode|      died|diedCity|   diedCountry|diedCountryCode|firstname|gender|               id|    surname|
+-------+----------+---------------+-----------+---------------+----------+--------+--------------+---------------+---------+------+-----------------+-----------+
|  count|        65|             65|         65|             65|        65|      29|            29|             29|       65|    65|               65|         64|
|   mean|      NULL|           NULL|       NULL|           NULL|      NULL|    NULL|          NULL|           NULL|     NULL|  NULL| 724.723076923077|       NULL|
| stddev|      NULL|           NULL|       NULL|           NULL|      NULL|    NULL|          NULL|           NULL|     NULL|  NULL|254.8234994371293|       NULL|
|    min|1843-06-09|   Aldea Chimel|  Australia|             AT|0000-00-00| Belfast|       Austria|             AT|   Ada E.|female|             1005|     Addams|
|    max|1997-07-12|Zhejiang Ningbo|      Yemen|             ZA|2024-05-13|  Vienna|United Kingdom|             ZA|   Youyou|female|              993|von Suttner|
+-------+----------+---------------+-----------+---------------+----------+--------+--------------+---------------+---------+------+-----------------+-----------+

Hacemos un `distinct` por país de nacimiento de las premiadas.

In [ ]:
females_df.select("bornCountry").distinct().show()

+--------------------+
|         bornCountry|
+--------------------+
|Austria-Hungary (...|
|Russian Empire (n...|
|             Germany|
|              France|
|Austrian Empire (...|
|               Italy|
|Germany (now Poland)|
|                 USA|
|               Egypt|
|               Yemen|
|              Sweden|
|         Philippines|
|                Iraq|
| Burma (now Myanmar)|
|               China|
|               Chile|
|              Norway|
|             Denmark|
|                Iran|
|             Ukraine|
+--------------------+
only showing top 20 rows

Filtramos por un país de nacimiento y seleccionamos las columnas a visualizar.

In [ ]:
filtered_df = females_df.select("bornCountry", "firstname", "surname").filter(females_df.bornCountry == "Chile")
filtered_df.show()

+-----------+---------+-------+
|bornCountry|firstname|surname|
+-----------+---------+-------+
|      Chile| Gabriela|Mistral|
+-----------+---------+-------+

Utilizamos las `udf` de Spark para convertir el formato de una columna a mayúsculas.

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

uppercase_udf = udf(lambda x: x.upper() if x is not None else None, StringType())
df_upper = females_df.select("surname", "firstname").withColumn("upper", uppercase_udf("firstname"))
df_upper.show()

+----------------+----------------+----------------+
|         surname|       firstname|           upper|
+----------------+----------------+----------------+
|           Curie|           Marie|           MARIE|
|  Goeppert Mayer|           Maria|           MARIA|
|    Joliot-Curie|           Irène|           IRÈNE|
|         Hodgkin|Dorothy Crowfoot|DOROTHY CROWFOOT|
|            Cori|           Gerty|           GERTY|
|           Yalow|         Rosalyn|         ROSALYN|
|      McClintock|         Barbara|         BARBARA|
| Levi-Montalcini|            Rita|            RITA|
|           Elion|     Gertrude B.|     GERTRUDE B.|
|Nüsslein-Volhard|      Christiane|      CHRISTIANE|
|     von Suttner|          Bertha|          BERTHA|
|          Addams|            Jane|            JANE|
|           Balch|    Emily Greene|    EMILY GREENE|
|        Williams|           Betty|           BETTY|
|        Corrigan|         Mairead|         MAIREAD|
|        Bojaxhiu|   Anjezë Gonxhe|   ANJEZË GONXHE|
|          Myrdal|            Alva|            ALVA|
|            NULL|Aung San Suu Kyi|AUNG SAN SUU KYI|
|      Menchú Tum|       Rigoberta|       RIGOBERTA|
|        Williams|            Jody|            JODY|
+----------------+----------------+----------------+
only showing top 20 rows

Creamos una vista temportal con Spark, también utilizamos la MAGIC %%time que nos provee Google Colab para medir el impacto de recursos al ejecutar la celda.

In [ ]:
%%time
females_df.createOrReplaceTempView("females_vw")

+--------------------+
|         bornCountry|
+--------------------+
|Austria-Hungary (...|
|Russian Empire (n...|
|             Germany|
|              France|
|Austrian Empire (...|
|               Italy|
|Germany (now Poland)|
|                 USA|
|               Egypt|
|               Yemen|
|              Sweden|
|         Philippines|
|                Iraq|
| Burma (now Myanmar)|
|               China|
|               Chile|
|              Norway|
|             Denmark|
|                Iran|
|             Ukraine|
+--------------------+
only showing top 20 rows

CPU times: user 11.5 ms, sys: 937 µs, total: 12.4 ms
Wall time: 1.03 s

Realizamos la lectura de la vista temporal mediante lenguaje `sql`.

In [ ]:
spark.sql("SELECT DISTINCT bornCountry FROM females_vw").show()

Podríamos hacer lo siguiente, pero solo funciona en Databricks o donde se pueda utilizar %sql como una MAGIC. Actualmente Google Colab y Jupyter no lo permiten.

In [ ]:
%sql
SELECT DISTINCT bornCountry FROM females_vw

SyntaxError: invalid syntax (<ipython-input-22-358191dca53b>, line 2)